<div>
    <!-- form card register -->
    <div>
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div>
          <label for="inputName">Name</label><br>
          <input type="text" formControlName="name">
          <!-- error -->
          <!-- <div *ngIf="submitted && myForm.name.errors.required">
            Name is required.
          </div> -->
        </div>

        <div>
          <label>Role</label><br>
          <ng-select
              [items]="Role"
              bindLabel="name"
              bindValue="id"
              placeholder="Select role"
              formControlName="role"
          >
          </ng-select>
          <!-- error -->
          <!-- <div *ngIf="submitted && myForm.selectedRole.errors.required">
            Choose role.
          </div> -->
        </div>

        <div>
          <button type="submit">Register</button>
        </div>
      </form>

    </div>
</div>
