 <div>
   <div>
     <div>
       <div>
         <h3>Edit User</h3>
       </div>
       <div>
         <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

           <div>
             <label for="inputName">Name</label><br>
             <input type="text" formControlName="name">
             <div *ngIf="submitted && myForm.name.errors?.required">
               Name is required.
             </div>
           </div>

           <div>
             <label for="inputPassword3">role</label><br>
             <select (change)="updateProfile($event.target.value)"
               formControlName="role">
               <option value="">Choose...</option>
               <option *ngFor="let userProfile of UserProfile" value="{{userProfile}}">{{userProfile}}
               </option>
             </select>
             <!-- error -->
             <div *ngIf="submitted && myForm.role.errors?.required">
               Choose role.
             </div>
           </div>

           <div class="form-group">
             <button type="submit">Update</button>
           </div>
         </form>
       </div>
     </div><!-- form  -->
   </div>
 </div>
