 <div>
   <div>
     <div>
       <div>
         <h3>Edit User</h3>
       </div>
       <div>
         <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

           <div>
             <label for="inputName">Name</label><br>
             <input type="text" formControlName="name" ng-repeat = "item in ctrl.items">
             <!-- <div *ngIf="submitted && myForm.name.errors?.required">
               Name is required.
             </div> -->
           </div>

           <div>
            <label>Role</label><br>
            <ng-select
                [items]="Role"
                bindLabel="name"
                bindValue="id"
                placeholder="{{role}}"
                formControlName="role"
            >
            </ng-select>
             <!-- error -->
             <!-- <div *ngIf="submitted && myForm.role.errors?.required">
               Choose role.
             </div> -->
           </div>

           <div class="form-group">
             <button type="submit">Update</button>
           </div>
         </form>
       </div>
     </div><!-- form  -->
   </div>
 </div>
